<h1>Update an Experience</h1>
<%= form_tag "/experiences/#{params[:id]}", method: :patch do %>
  <div>
    First Name: <%= @experience['student_first_name'] %>
  </div>
    <div>
    Last Name: <%= @experience['student_last_name'] %>
  </div>
   <div>
    Student ID: <%= @experience['student_id'] %>
  </div>
  <div>
    Start Date: <input type="text" name="start_date" value="<%= @experience['start_date'] %>">
  </div>
  <div>
    End Date: <input type="text" name="end_date" value="<%= @experience['end_date'] %>">
  </div>
  <div>
    Job Title: <input type="text" name="job_title" value="<%= @experience['job_title'] %>">
  </div>
  <div>
    Company Name: <input type="text" name="company_name" value="<%= @experience['company_name'] %>">
  </div>
  <div>
    Details: <input type="text" name="details" value="<%= @experience['details'] %>">
  </div>
  <input type="submit" value="Update Experience">
<% end %>
