  <h2>Experience: </h2>

    <h5>Student Name: <%= @experience['student_first_name'] %> <%= @experience['student_last_name'] %></h5>
    <h5>Start Date: <%= @experience['start_date'] %></h5>
    <h5>End Date: <%= @experience['end_date'] %></h5>
    <h5>Job Title: <%= @experience['job_title'] %></h5>
    <h5>Company Name: <%= @experience['company_name'] %></h5>
    <h5>Details: <%= @experience['details'] %></h5>
