  <h2>Education</h2>
  <%= @student['first_name'] %>
  <h5>Start Date: <%= @education['start_date'] %></h5>
  <h5>End Date: <%= @education['end_date'] %></h5>
  <h5>Degree: <%= @education['degree'] %></h5>
  <h5>University: <%= @education['university'] %></h5>
  <h5>Details: <%= @education['details'] %></h5>
